<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarParts.Properties.Settings.partsshopConnectionString"
            connectionString="server=localhost;user id=root;password=1111;database=partsshop"
            providerName="MySql.Data.MySqlClient" />
        <add name="CarParts.Properties.Settings.partsCS" connectionString="Dsn=carPartsDataBase;description=course work;server=remotemysql.com;uid=Kp1z5wtXIw;pwd=yTmpajObmH;database=Kp1z5wtXIw;port=3306"
            providerName="System.Data.Odbc" />
        <add name="CarParts.Properties.Settings.carpartsdataConnectionString"
            connectionString="Dsn=carpartsdata;description=final hosting;server=db4free.net;uid=ronnie;pwd=375447969448;database=carpartsdata;port=3306"
            providerName="System.Data.Odbc" />
        <add name="CarParts.Properties.Settings.carpartsdataConnectionString1"
            connectionString="Dsn=carpartsfinally;description=final hosting;server=localhost;uid=root;database=carpartsdata;port=3306"
            providerName="System.Data.Odbc" />
        <add name="CarParts.Properties.Settings.vvgcarpartsConnectionString"
            connectionString="Dsn=vvgcarparts;server=localhost;uid=ron;pwd=AVmeansomething23;database=vvgcarparts;port=3306"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>