<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialSkin.Net4" version="1.0.0" targetFramework="net461" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net461" />
  <package id="MetroSet_UI" version="1.0.5" targetFramework="net461" />
  <package id="Neodynamic.Windows.ThermalLabelEditor.Sample.WinForms.CS" version="9.0.0.0" targetFramework="net461" />
  <package id="PersianMaterialSkin" version="2.0.3" targetFramework="net461" />
  <package id="Syncfusion.Core.WinForms" version="17.3.0.27" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.3.0.27" targetFramework="net461" />
  <package id="Syncfusion.Shared.Base" version="17.3.0.27" targetFramework="net461" />
</packages>